{% extends "layout.html" %}
{% block body %}
  <div class=about>
    <table>
      <tr>
        <td class=about_a>ABOUT XSG</td>
        <td class=about_b>The X-Supply Game (XSG) is an educational simulation game used to
          help participants explore the dynamics of a real supply chains. The game is a
          team-based multi-player online simulation where each player take on the
          role of managing a virtual station in a simple supply chain. The game is
          played in turns, in which players analyze weekly standing of their stations
          and decide on orders to suppliers and shipment to customers. At the end of
          the game, individual and team performances are analyzed and discussed in groups.<br>
          XSG is influenced by previous supply chain management games, such as
          the beer game and the wood supply game, but it introduces several new
          concepts, including: configurable supply chain design, production capacity,
          triple-bottom-line objective, and Transportation environmental and monetary impacts.
          The XSG name comes from the game ability to be configured in various supply chain designs,
          allowing it to model almost any "X" supply chain.
        </td>
      </tr>
      <tr>
        <td class=about_a>SOURCE CODE</td>
        <td class=about_b>XSG source code and additional information can be found at
          its bitbucket <a href="https://bitbucket.org/sinansalman/xsg">website</a>.
        </td>
      </tr>
      <tr>
        <td class=about_a>CONTRIBUTE</td>
        <td class=about_b>Code submissions are greatly appreciated and highly encouraged.
          Please send fixes, enhancements, etc. to sinan[dot]salman[at]zu.ac.ae</td>
      </tr>
      <tr>
        <td class=about_a>LICENSE</td>
        <td class=about_b>XSG is released under the <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a> license.</td>
      </tr>
      <tr>
        <td class=about_a>COPYRIGHT</td>
        <td class=about_b>2017 Sinan Salman, PhD</td>
      </tr>
    </table>
  </div>
{% endblock %}
