{% extends "layout.html" %} {% block body %}
<script type='text/javascript'>
  function delete_game() {
    if (confirm("Deleting {{game}} cannot be undone, press [OK] to continue or [Cancle] to abort.")) {
      window.location.href = "{{ url_for('delete_game', game_name = game) }}";
    }
  }

  function reset_game() {
    if (confirm("All player(s) data in {{game}} will be lost, press [OK] to continue or [Cancle] to abort.")) {
      window.location.href = "{{ url_for('reset_game',game_name=game) }}";
    }
  }
</script>
<h2>Game Adminstration: {{ game }}</h2>
<br>
<div class="vertical-menu">
  <a href="{{ url_for('show_network',game_name=game) }}">Show Supply Chain</a>
  <a href="{{ url_for('monitor_screen',game_name=game) }}">Show Results</a>
  <a href="{{ url_for('show_game_setup',game_name=game) }}">Show Setup</a>
  <a href="{{ url_for('edit_game_setup',action='edit') }}">Edit</a>
  <a href="javascript:reset_game()">Reset</a>
  <a href="{{ url_for('export_game_file',game_name=game) }}">Export</a>
  <a href="javascript:delete_game()">Delete</a>
</div>
<div>
  <br>
  <form action="{{ url_for('copy_game',org=game) }}" method=post>
    <input type=submit value="Copy to:">
    <input type=text size=24 name=dst>
  </form>
  <br>
  <form action="{{ url_for('rename_game',org=game) }}" method=post>
    <input type=submit value="Rename to:">
    <input type=text size=21 name=new_name>
  </form>
</div>
{% endblock %}