{% extends "layout.html" %}
{% block body %}
  <h2>Create game</h2><br>
  <div>
    <form enctype=multipart/form-data action="{{ url_for('import_game') }}" method=post>
      <span class=reg_text>Create from game file: </span><input type=file accept=".json" value='Select import file...' name=importfilename autofocus="autofocus">
      <input type=submit value=upload>
    </form>
  </div>
{% endblock %}
