<!doctype html>
<title>X Supply Chain Game (XSG)</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}?v={{ range(1, 9999) | random }}"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type=text/javascript> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
<div class=page>
  <h1>XSG</h1>
  <div class=metanav>
    <a href="{{ url_for('about') }}" target="_blank">About</a> &ensp; &ensp;
  {% if session.password %}
    <a href="{{ url_for('logout') }}">Logout</a> &ensp; &ensp;
  {% endif %}
  {% if session.player_name %}
    <a href="{{ url_for('reset') }}">Home</a>
  {% else %}
    <a href="{{ url_for('index') }}">Home</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
