{% extends "layout.html" %}
{% block body %}
   <script src="https://cdn.jsdelivr.net/npm/google-palette@1.1.0/palette.min.js"></script>
   <script type=text/javascript src="{{url_for('static', filename='monitor_screen_radar.js') }}{{ js_debug() }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
   <script type=text/javascript>{
      var $GAME = {{ static_info.game|tojson|safe }};
      var $STATIONS = {{ static_info.stations|tojson|safe }};
      var $PLAYERS = {{ static_info.station_players|tojson|safe }};
      var $REFRESH_INTERVAL = {{ static_info.RefreshInterval_GameMonitor|tojson|safe }};}
   </script>
   <h2>Station performance comparison for {{ static_info.game }}</h2>
   <div class=radar><canvas id=xsgChart height=200></canvas></div>
{% endblock %}
