{% extends "layout.html" %}
{% block body %}
   <script src="https://cdn.jsdelivr.net/npm/google-palette@1.1.0/palette.min.js"></script>
   <script type=text/javascript src="{{url_for('static', filename='monitor_screen.js') }}{{ js_debug() }}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
   <script type=text/javascript>{
      var $GAME = {{ static_info.game|tojson|safe }};
      var $WEEKS = {{ static_info.weeks|tojson|safe }}
      var $STATIONS = {{ static_info.stations|tojson|safe }};
      var $DEMANDS = {{ static_info.demands|tojson|safe }};
      var $PLAYERS = {{ static_info.station_players|tojson|safe }};
      var $REFRESH_INTERVAL = {{ static_info.RefreshInterval_GameMonitor|tojson|safe }};}
   </script>
   <div class=reg_text>
      <span class=output>{{ static_info.game }}</span>
      , in week <span class=output id=Week>?</span> of {{ static_info.weeks }}
      , Waiting for: <span class=output id=WaitingFor>?</span>
      , Disconnected stations: <span class=output id=Disconnected>?</span><br>
   </div>
   <br>
   <div class=flex_row>
      <div class=doughnut-tbl>
         <table class=tbl_results>
            <tr>
               <th> </th>
               <th>Inventory</th>
               <th>Backorder</th>
               <th>Transport</th>
               <th>Total</th>
               <th>fulfilment</th>
               <th>Green_Score</th>
            </tr>
            {% for st in static_info.stations %}
               <tr>
                  <td><label id="station_{{ st }}">n/a</label></td>
                  <td>$<label id="cost_inventory_sum_{{ st }}">n/a</label></td>
                  <td>$<label id="cost_backorder_sum_{{ st }}">n/a</label></td>
                  <td>$<label id="cost_transport_sum_{{ st }}">n/a</label></td>
                  <td>$<label id="cost_total_sum_{{ st }}">n/a</label></td>
                  <td><label id="fulfilment_avg_{{ st }}">n/a</label>%</td>
                  <td><label id="green_score_avg_{{ st }}">n/a</label>%</td>
               </tr>
            {% else %}
               <tr>
                  <td>n/a</td>
                  <td>n/a</td>
                  <td>n/a</td>
                  <td>n/a</td>
                  <td>n/a</td>
                  <td>n/a</td>
                  <td>n/a</td>
               </tr>
            {% endfor %}
            <tr>
               <th>Totals($)/Averages(%)</td>
               <th>$<label id=tot_cost_inventory>n/a</label></th>
               <th>$<label id=tot_cost_backorder>n/a</label></th>
               <th>$<label id=tot_cost_transport>n/a</label></th>
               <th>$<label id=tot_cost_total>n/a</label></th>
               <th><label id=avg_fulfilment>n/a</label>%</th>
               <th><label id=avg_green_score>n/a</label>%</th>
            </tr>
         </table>
      </div>
      <div class=doughnut><canvas id="xsgChart0" height="150"></canvas></div>
   </div>
   <br>
   <select id=data_item onchange="update_plot()" class='plot_select'>
      <option>cost
      <option>fulfilment
      <option>green_score
      <option>orders
      <option>inventory/backorders
      <option>inventory-backorders
      <option>deliveries
      <option>shipments
      <option>extra-shipments
   </select>
   <div><canvas id="xsgChart1" height="125"></canvas></div>
   <div><canvas id="xsgChart2" height="125"></canvas></div>
   <div class="vertical-menu">
     <a href="javascript:location.reload();">Refresh Player Names</a>
     <a href="javascript:hidallstationsdata()">Toggle Visible Stations</a>
     <a href="{{ url_for('show_network',game_name=static_info.game) }}">Show supply chain</a>
     <a href="{{ url_for('monitor_screen_radar',game_name=static_info.game) }}">Compare stations</a>
   </div>
{% endblock %}
