{% extends "layout.html" %}
{% block body %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.css" rel="stylesheet" type="text/css" />
   <span>When done, just close this tab to go back to your screen.</span>
   <div id="mynetwork"></div>
   <script type="text/javascript">
      var nodes = new vis.DataSet({{ static_info.nodes|tojson|safe }});
      var edges = new vis.DataSet({{ static_info.edges|tojson|safe }});
      var container = document.getElementById('mynetwork');
      var data = { nodes: nodes, edges: edges };
      var options = { nodes:{ shape: 'image',
                              image: '/static/warehouse.png',
                              shadow:{ enabled: true } } };
      var network = new vis.Network(container, data, options);
   </script>
{% endblock %}
