{% extends "layout.html" %} {% block body %}
<div>
  <ul>
    {% for key, value in setup.items() %}
      {% if key not in ['stations','demands','connections','script'] %}
        <li>
          {{ key }}: {{value}}
          {% if key == 'expiry' %}days{% endif %}
        </li>
      {% endif %}
    {% endfor %}

    {% for key, value in setup.items() %}
      {% if key in ['stations','demands'] %}
        <li>
          {{ key }}:
          <ul>
            {% for dict in value %}
              <li>{{ dict.name }}</li>
              <ul>
                {% for key, value in dict.items() %}
                  <li>{{ key }}: {{value}}</li>
                {% endfor %}
              </ul>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}

    {% for key, value in setup.items() %}
      {% if key == 'connections' %}
        <li>
          {{ key }}:
            <ul>
            {% for dict in value %}
              <li>{{ dict.supp }} ==> {{ dict.cust }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}

    {% for key, value in setup.items() %}
      {% if key == 'script' %}
        <li>
          {{ key }}:
            <ul>
            {% for dict in value %}
              <li>{{ dict.week }} : {{ dict.msg }}</li>
            {% endfor %}
          </ul>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
